/* Typography
   ********** */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,500;1,300;1,500&display=swap');

/* Global Variables
  ***************** */
 :root {
   --main-column-width: 42rem;
   --h1-size : 4rem;
   --h2-size : 3rem;
   --p-size: 1.3rem;
   --pagination-size: 2rem;
   --pagination-colour: white;
   --h1-size-small : 2rem;
   --text-section-padding: 5rem;
   --text-padding: 2rem;
   --right-padding: 1rem;
   --default-line-height: 2rem;
   --grid-column-remainder: calc(100vw - var(--main-column-width));
   --code-figure-offset: calc(var(--grid-column-remainder)/2);
   --highlight-colour: #2196F3;
   --text-colour : #616161;
   --heading-colour: #212121;
   --text-margin: 5rem;
 }

/* Global Styles
   ************* */

body {
  font-family: 'Crimson Pro', serif;
  font-weight: 300;
  display: grid;
  grid-template-columns: minmax(2rem,1fr) minmax(auto, var(--main-column-width)) minmax(2rem,1fr);
}

main section, figure {
  padding-top: var(--text-section-padding);
  z-index: 2;
}

ul {
  padding-top: var(--text-padding);
}

li {
  line-height: 1.5;
}

footer {
  display: grid;
  grid-column: 1 / 4;
  padding: 2rem 0;
  place-items: center;
}

pre {
  margin-top: var(--text-margin)!important;
}

/* Typography Styles */
 h1, h2 {
   font-size: var(--h1-size);
   font-weight: 300;
   color: var(--heading-colour);
 }

 strong, li {
   color: var(--heading-colour);
 }

 h2 {
   font-size: var(--h2-size);
 }

 p, td {
   color: var(--text-colour);
 }

  p, .sidebar a {
   padding-top: var(--text-padding);
   padding-right: var(--right-padding);
   font-size: var(--p-size);
   line-height: var(--default-line-height)
 }
 li {
   font-size: var(--p-size);
 }
 .dotted-list li {
   font-size: var(--p-size);
   list-style-type: circle;
 }
a{
 color: var(--highlight-colour);
}
/* Table Styles */

 tr {
   text-align: left;
 }

 th, td {
   padding-top: var(--text-padding);
   font-size: var(--p-size);
 }
th {
 min-width: 10rem
}
 /* Quote Styles */

  blockquote {
    font-size: 1.75rem;
    font-style: italic;
    padding: 3rem 0;
    padding-right: 6rem
  }

  /* footer stays on bottom of page */
footer {
  position: fixed;
  bottom: 0rem;
  height: 2rem;
  width: 100%;
  z-index: 3;
  background: var(--pagination-colour)
}

 footer p {
   padding: 0;
 }





/* code for videoWrapper found here: https://css-tricks.com/fluid-width-video/ */
 .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  /* falls back to 16/9, but otherwise uses ratio from HTML */
  padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.code-figure {
  position: relative;
	width: 80vw;
	left: calc(var(--code-figure-offset) * -1);
  margin: 0 10vw;
}

/* display/hide sections */
section {
 display: none;
 margin-bottom: calc(var(--text-margin)*2);
}

section:target {
 display: block;
}

/* sidenav based off code found here: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed2 */

.sidenav {
  display: none;
}

/* pagination - left and right display under 800px and numbers over 800px*/

.pagination {
  display: none;
}

.pagination a {
  display: none;
}

.pagination a:first-of-type, .pagination a:last-of-type {
  display: block;
}

.pagination {
  position: fixed;
  bottom: 6rem;
  background-color: var(--pagination-colour);
  display: flex;
  text-align: center;
  left: -1rem;
  margin-top: var(--text-margin);
  z-index: 3;
  width: 100vw
}

.pagination a {
  flex-grow: 1;
  text-decoration: none;
  font-size: var(--pagination-size);
}

.pagination a.active {
  background-color: #2196F3;
  opacity: 25%;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

@media only screen

  and (min-device-width: 320px)

  and (max-device-width: 568px)

  and (-webkit-min-device-pixel-ratio: 2) {

  section {
    display: block;
  }

  .pagination {
    display: none;
  }
}

/* after 800px, display the numbers in pagination on laptops and desktops */
@media (min-width: 800px) {
  .pagination a {
    display: block;
  }
}

/* after 1500px, display the sidenav which is a fixed table of contents to use as navigation as well as pagination */
 @media (min-width: 1500px) {
  .sidenav {
    width: auto;
    position: fixed;
    z-index: 1;
    top: 5rem;
    right: 5rem;
    overflow-x: hidden;
    padding: 8px 0;
    display: grid;
    text-align: right;
  }

  .sidenav a {
    text-decoration: none;
    font-size: var(--p-size);
    color: #2196F3;
    line-height: var(--default-line-height);
  }

  .sidenav p {
    padding: 0;
    color: var(--text-colour);
    text-decoration: underline;
  }

  .sidenav a:hover {
    color: #064579;
  }

}
